<% service_header = ServiceHeader.first %>
<section class="header-section service-header px-0">
  <%= image_tag service_header.image, class: "service-header-img" if service_header.image? %>
  <div class="service-header-content">
    <%= @service.title %>
  </div>
</section>

<section class="service-section pt-5">
  <div class="container">
    <% @service.service_contents.each do |service_content| %>
      <% if service_content.content.present? %>
        <h2 class="fw-bold fs-2 text-black"><%= raw(service_content.content) %></h2>
      <% end %>
    <% end %>
  </div>
</section>
