<section class="service-section py-5 bg-light" id="service-section">
  <div class="container">
    <div class="section-heading text-center mb-5">
      <% if @blog_posts.any? %>
        <h2 class="display-4 font-weight-bold text-dark">INNOVIS POSTS</h2>
      <% end %>
    </div>

    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
      <% @blog_posts.each do |post| %>
        <div class="col d-flex">
          <div class="card h-100 shadow-lg border-0 d-flex flex-column">
            <div class="card-img-top overflow-hidden">
              <% if post.image.attached? %>
                <%= image_tag(post.image, class: "img-fluid rounded-top", alt: post.title) %>
              <% else %>
                <%= image_tag("service-7.png", class: "img-fluid rounded-top", alt: "Default Image") %>
              <% end %>
            </div>

            <div class="card-body d-flex flex-column">
              <h5 class="card-title font-weight-bold">
                <%= post.title %>
              </h5>
              <p class="card-text text-muted flex-grow-1">
                <%= truncate(strip_tags(post.content), length: 150) %>
              </p>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</section>
