<% count_sections = CountSection.all %>
<section class="count-section px-0">
  <div class="inner-count-div flex-wrap">
    <% count_sections.each_with_index do |count, index| %>
      <div>
        <% if count.image.attached? %>
          <%= image_tag count.image, style: 'max-width: 100px; max-height: 100px;' %>
        <% else %>
          <% default_image = "count-#{(index % 4) + 1}.png" %>
          <%= image_tag default_image, style: 'max-width: 100px; max-height: 100px;' %>
        <% end %>
        <div class="count-number"><%= count.number %></div>
        <div class="count-text"><%= count.text %></div>
      </div>
    <% end %>
  </div>
</section>
