<section class="review-section" style="background-image: url('<%= image_path 'review-bg.png'%>');">
  <div class="inner-review">
    <div class="section-heading">
      <div>Testimonials</div>
      <div class="text-white">Client Success Stories: Hear What Our Clients Have to Say!</div>
    </div>
    <div class="review-parent-div">
      <div class="owl-carousel owl-theme d-block mt-5">
        <div class="item d-flex gap-3 align-items-center">
          <div class="review-img">
            <div class="review-profile"> 
              G
            </div>
          </div>
          <div class="review-content">
            <div class="review-text">
                I had an excellent experience working with Innovis Law Partners. Their team demonstrated exceptional expertise and professionalism throughout my case. They were always accessible and responsive, promptly addressing my concerns and keeping me informed at every step
            </div>
            <div class="reviewer-name">Global Infrastructure Pvt. Ltd.</div>
          </div>
        </div>
        <div class="item d-flex gap-3 align-items-center">
          <div class="review-img">
            <div class="review-profile"> 
              L
            </div>
          </div>
          <div class="review-content">
            <div class="review-text">
              Their knowledge of the law and strategic approach led to a successful outcome for my case. I felt well-supported and confident in their abilities from the beginning. The communication was clear and transparent, and they explained legal complexities in a way that was easy to understand.
            </div>
            <div class="reviewer-name">Lion Engineering Consultant Pvt Ltd</div>
          </div>
        </div>
        <div class="item d-flex gap-3 align-items-center">
          <div class="review-img">
            <div class="review-profile"> 
              R
            </div>
          </div>
          <div class="review-content">
            <div class="review-text">
              Overall, I would highly recommend Innovis Law Partners to anyone seeking dedicated legal representation. They exceeded my expectations and provided outstanding value for their services.
            </div>
            <div class="reviewer-name">Ricky William Innovation Pvt Ltd.</div>
          </div>
        </div>
        <div class="item d-flex gap-3 align-items-center">
          <div class="review-img">
            <div class="review-profile"> 
              C
            </div>
          </div>
          <div class="review-content">
            <div class="review-text">
              This review highlights key aspects that clients often value: expertise, communication, accessibility, and successful outcomes. Actual client reviews may vary, but positive feedback typically centers around these core elements of client satisfaction with a law firm.
            </div>
            <div class="reviewer-name">Cinepolis India Pvt Ltd</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
