<section class="count-section px-0">
  <div class="inner-count-div flex-wrap">
    <div>
        <img src="/assets/themes/innovis_theme/assets/images/count-1.png" alt="">
        <div class="count-number">10+</div>
        <div class="count-text">Years in Business</div>
    </div>
    <div>
      <img src="/assets/themes/innovis_theme/assets/images/count-2.png" alt="">
      <div class="count-number">1500+</div>
      <div class="count-text">Successful Cases</div>
    </div>
    <div>
      <img src="/assets/themes/innovis_theme/assets/images/count-3.png" alt="">
      <div class="count-number">1000+</div>
      <div class="count-text">Satisfied Clients</div>
    </div>
    <div>
      <img src="/assets/themes/innovis_theme/assets/images/count-4.png" alt="">
      <div class="count-number">25+</div>
      <div class="count-text">Pro Consultants</div>
    </div>
  </div>
</section>
