<section class="header-section px-0">
  <video autoplay loop muted playsinline controls="false" preload="auto" class="header-video">
    <source type="video/mp4"  src="/assets/themes/innovis_theme/assets/images/header-law-2072d8ce83b9c52ea3f90ddc1b3d4ab0f9faa0677acdada37570d74c9e80e8ff.mp4">
  </video>
  <div class="overlay"></div>
  <div class="header-content">
    <div>Innovis Law Partners</div>
    <div>Everything in Legal solutions</div>
    <div>IPR | Corporate | Civil | Criminal</div>
  </div>
</section>
