<section class="header-section px-0">
  <video autoplay loop muted playsinline controls="false" preload="auto" class="header-video">
    <source type="video/mp4"  src="https://aadi-2410.github.io/innovis-law-partner/assets/images/header-law.mp4">
  </video>
  <div class="overlay"></div>
  <div class="header-content">
    <div>Innovis Law Partners</div>
    <div>Everything in Legal solutions</div>
    <div>IPR | Corporate | Civil | Criminal</div>
  </div>
</section>
