<section class="review-section">
  <div class="inner-review">
    <div class="section-heading">
      <div>Testimonials</div>
      <div class="text-white">Client Success Stories: Hear What Our Clients Have to Say!</div>
    </div>
    <div class="review-parent-div">
      <div class="owl-carousel owl-theme d-block mt-5">
        <div class="item d-flex gap-3 align-items-center">
          <div class="review-img">
            <img src="/assets/themes/innovis_theme/assets/images/4.ayush.png" alt="">
          </div>
          <div class="review-content">
            <div class="review-text">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed eget risus porta, tincidunt turpis at, interdum tortor. Suspendisse potenti. Lorem ipsum dolor sit amet, consectetur. Suspendisse potenti. Lorem ipsum dolor sit amet, consectetur. Suspendisse
                potenti. Lorem ipsum dolor sit amet, consectetur
            </div>
            <div class="reviewer-name">John Smith</div>
            <div class="reviewer-post">CEO, Founder of XYZ</div>
          </div>
        </div>
        <div class="item d-flex gap-3 align-items-center">
          <div class="review-img">
              <img src="/assets/themes/innovis_theme/assets/images/4.ayush.png" alt="">
          </div>
          <div class="review-content">
            <div class="review-text">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed eget risus porta, tincidunt turpis at, interdum tortor. Suspendisse potenti. Lorem ipsum dolor sit amet, consectetur. Suspendisse potenti. Lorem ipsum dolor sit amet, consectetur. Suspendisse
                potenti. Lorem ipsum dolor sit amet, consectetur
            </div>
            <div class="reviewer-name">John Smith</div>
            <div class="reviewer-post">CEO, Founder of XYZ</div>
          </div>
        </div>
        <div class="item d-flex gap-3 align-items-center">
          <div class="review-img">
            <img src="/assets/themes/innovis_theme/assets/images/4.ayush.png" alt="">
          </div>
          <div class="review-content">
            <div class="review-text">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed eget risus porta, tincidunt turpis at, interdum tortor. Suspendisse potenti. Lorem ipsum dolor sit amet, consectetur. Suspendisse potenti. Lorem ipsum dolor sit amet, consectetur. Suspendisse
              potenti. Lorem ipsum dolor sit amet, consectetur
            </div>
            <div class="reviewer-name">John Smith</div>
            <div class="reviewer-post">CEO, Founder of XYZ</div>
          </div>
        </div>
        <div class="item d-flex gap-3 align-items-center">
          <div class="review-img">
            <img src="/assets/themes/innovis_theme/assets/images/4.ayush.png" alt="">
          </div>
          <div class="review-content">
            <div class="review-text">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed eget risus porta, tincidunt turpis at, interdum tortor. Suspendisse potenti. Lorem ipsum dolor sit amet, consectetur. Suspendisse potenti. Lorem ipsum dolor sit amet, consectetur. Suspendisse
              potenti. Lorem ipsum dolor sit amet, consectetur
            </div>
            <div class="reviewer-name">John Smith</div>
            <div class="reviewer-post">CEO, Founder of XYZ</div>
          </div>
        </div>
        <div class="item d-flex gap-3 align-items-center">
          <div class="review-img">
            <img src="/assets/themes/innovis_theme/assets/images/4.ayush.png" alt="">
          </div>
          <div class="review-content">
            <div class="review-text">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed eget risus porta, tincidunt turpis at, interdum tortor. Suspendisse potenti. Lorem ipsum dolor sit amet, consectetur. Suspendisse potenti. Lorem ipsum dolor sit amet, consectetur. Suspendisse
              potenti. Lorem ipsum dolor sit amet, consectetur
            </div>
            <div class="reviewer-name">John Smith</div>
            <div class="reviewer-post">CEO, Founder of XYZ</div>
          </div>
        </div>
        <div class="item d-flex gap-3 align-items-center">
          <div class="review-img">
            <img src="/assets/themes/innovis_theme/assets/images/4.ayush.png" alt="">
          </div>
          <div class="review-content">
            <div class="review-text">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed eget risus porta, tincidunt turpis at, interdum tortor. Suspendisse potenti. Lorem ipsum dolor sit amet, consectetur. Suspendisse potenti. Lorem ipsum dolor sit amet, consectetur. Suspendisse
              potenti. Lorem ipsum dolor sit amet, consectetur
            </div>
            <div class="reviewer-name">John Smith</div>
            <div class="reviewer-post">CEO, Founder of XYZ</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
