<section class="service-section">
  <div class="section-heading">
    <div>Bouquet of Services</div>
    <div>We cater all the major verticals</div>
  </div>
  <div class="service-card-container landing-page">
    <div class="service-card-div">
      <div class="overflow-hidden service-img-parent">
        <a href="service-detail-page.html">
        <img class="service-card-img" src="/assets/themes/innovis_theme/assets/images/service-1.png" alt="">                    </a>
      </div>
      <div class="service-card-heading">
        <a href="service-detail-page.html">
            Intellectual Property Rights
        </a>
      </div>
      <div class="service-card-content">We, at INNOVIS LAW PARTNERS, specialize in the dynamic realm of intellectual property law, encompassing TRADEMARK, COPYRIGHT</div>
    </div>
    <div class="service-card-div">
      <div class="overflow-hidden service-img-parent">
        <a href="service-detail-page.html">
        <img class="service-card-img" src="/assets/themes/innovis_theme/assets/images/service-2.png" alt="">                    </a>
      </div>
      <div class="service-card-heading">
        <a href="service-detail-page.html">
            Startup Advisory and Compliance
        </a>
      </div>
      <div class="service-card-content">We have a proven track record of supporting early-stage startups worldwide, leveraging our extensive industry experience gained from advising large corporations and multinationals</div>
    </div>
    <div class="service-card-div">
      <div class="overflow-hidden service-img-parent">
        <a href="service-detail-page.html">
        <img class="service-card-img" src="/assets/themes/innovis_theme/assets/images/service-3.png" alt="">                    </a>
      </div>
      <div class="service-card-heading">
        <a href="service-detail-page.html">
            MSME Litigation and Compliance
        </a>
      </div>
      <div class="service-card-content">We understands the unique legal needs and challenges faced by Micro, Small, and Medium Enterprises (MSMEs)</div>
    </div>
      <div class="service-card-div">
        <div class="overflow-hidden service-img-parent">
            <a href="service-detail-page.html">
            <img class="service-card-img" src="/assets/themes/innovis_theme/assets/images/service-4.png" alt="">                    </a>
        </div>
        <div class="service-card-heading">
            <a href="service-detail-page.html">
                Employment Law
            </a>
        </div>
        <div class="service-card-content">We have extensive experience in advising on issues concerning labor, employment, social security, and industrial relation laws</div>
      </div>
      <div class="service-card-div">
        <div class="overflow-hidden service-img-parent">
            <a href="service-detail-page.html">
                <img class="service-card-img" src="/assets/themes/innovis_theme/assets/images/service-5.png" alt="">
            </a>
        </div>
          <div class="service-card-heading">
            <a href="service-detail-page.html">
                Real Estate Regulation and Development Services
            </a>
          </div>
          <div class="service-card-content">We offers specialized legal services to assist clients in navigating the intricacies of the Real Estate Regulation and Development Act</div>
      </div>
      <div class="service-card-div">
        <div class="overflow-hidden service-img-parent">
          <a href="service-detail-page.html">
          <img class="service-card-img" src="/assets/themes/innovis_theme/assets/images/service-6.png" alt="">                    </a>
        </div>
        <div class="service-card-heading">
          <a href="service-detail-page.html">
              Environmental Law
          </a>
          </div>
        <div class="service-card-content">Our legal team possesses extensive experience in both civil and criminal environmental litigation matter</div>
      </div>
      <div class="service-card-div">
        <div class="overflow-hidden service-img-parent">
          <a href="service-detail-page.html">
          <img class="service-card-img" src="/assets/themes/innovis_theme/assets/images/service-7.png" alt="">
          </a>
        </div>
        <div class="service-card-heading">
          <a href="service-detail-page.html">
              Sports Law
          </a>
        </div>
        <div class="service-card-content">With a deep understanding of the sports industry, we offer comprehensive knowledge in all aspects of sports litigation</div>
      </div>
      <div class="service-card-div">
        <div class="overflow-hidden service-img-parent">
          <a href="service-detail-page.html">
          <img class="service-card-img" src="/assets/themes/innovis_theme/assets/images/service-8.png" alt="">
          </a>
        </div>
        <div class="service-card-heading">
          <a href="service-detail-page.html">
              TMT Law
          </a>
        </div>
          <div class="service-card-content">Our TMT services stand at the forefront of the industry, providing clients with cutting-edge insights and commercial solutions backed by extensive sector experience</div>
      </div>
  </div>
  <div class="text-center">
    <a href="services.html" class="custom-btn">View More</a>
  </div>
</section>
