<section class="team-section" id="team_section">
  <div class="section-heading">
    <div>Meet Our Expert</div>
    <div>Our Committed and Talented Young Energetic Team</div>
  </div>
  <div class="team-card-container mt-3">
    <div>
      <div class="profile-div-1 d-flex gap-2 justify-content-between align-items-end position-relative">
        <div class="profile-overlay position-relative">
          <div class="profile-detail-overlay">
            <div>Adv Ankur Pastor</div>
            <div>10+ years experience</div>
            <div>Location: Bhopal</div>
            <div>Managing Partner</div>
          </div>
          <img class="profile-img" src="/assets/themes/innovis_theme/assets/images/1.ankur.png" alt="">
        </div>
        <div class="text-center">
          <div>Adv <br /> Ayush Bharadwaj</div>
          <img class="arrow-img" src="/assets/themes/innovis_theme/assets/images/arrow.png" alt="">
        </div>
        <div class="profile-overlay position-relative">
          <div class="profile-detail-overlay">
            <div>Adv Ankur Pastor</div>
            <div>10+ years experience</div>
            <div>Location: Bhopal</div>
            <div>Managing Partner</div>
          </div>
          <img class="profile-img" src="/assets/themes/innovis_theme/assets/images/2.surbhi.png" alt="">
        </div>
        <div class="text-center">
          <div>Adv <br /> Mohit Soni</div>
          <img class="arrow-img" src="/assets/themes/innovis_theme/assets/images/arrow.png" alt="">
        </div>
        <div class="profile-overlay position-relative">
          <div class="profile-detail-overlay">
            <div>Adv Ankur Pastor</div>
            <div>10+ years experience</div>
            <div>Location: Bhopal</div>
            <div>Managing Partner</div>
          </div>
          <img class="profile-img" src="/assets/themes/innovis_theme/assets/images/3.risabh.png" alt="">
        </div>
      </div>
      <div class="team-rectangle-div d-flex gap-2 justify-content-between align-items-center">
        <div>Managing Partner</div>
        <div>Senior Associate</div>
        <div>Partner</div>
        <div>Senior Associate</div>
        <div>Partner</div>
      </div>
      <div class="profile-div-2 d-flex gap-2 justify-content-between align-items-start position-relative">
        <div class="text-center">
            <img class="arrow-img" src="/assets/themes/innovis_theme/assets/images/arrow.png" alt="">
            <div>Adv <br /> Ankur Pastor</div>
        </div>
        <div class="profile-overlay position-relative">
          <div class="profile-detail-overlay">
            <div>Adv Ankur Pastor</div>
            <div>10+ years experience</div>
            <div>Location: Bhopal</div>
            <div>Managing Partner</div>
          </div>
          <img class="profile-img" src="/assets/themes/innovis_theme/assets/images/4.ayush.png" alt="">
        </div>
        <div class="text-center">
          <img class="arrow-img" src="/assets/themes/innovis_theme/assets/images/arrow.png" alt="">
          <div>Adv <br /> Shubhi Dubey</div>
        </div>
        <div class="profile-overlay position-relative">
          <div class="profile-detail-overlay">
            <div>Adv Ankur Pastor</div>
            <div>10+ years experience</div>
            <div>Location: Bhopal</div>
            <div>Managing Partner</div>
          </div>
          <img class="profile-img" src="/assets/themes/innovis_theme/assets/images/5.mohit.png" alt="">
        </div>
        <div class="text-center">
          <img class="arrow-img" src="/assets/themes/innovis_theme/assets/images/arrow.png" alt="">
          <div>Adv <br /> Rishabh Mishra</div>
        </div>
      </div>
    </div>
    <div class="team-second-div">
      <div class="profile-div-1 d-flex gap-2 justify-content-between align-items-end position-relative">
        <div class="profile-overlay position-relative">
          <div class="profile-detail-overlay">
              <div>Adv Ankur Pastor</div>
              <div>10+ years experience</div>
              <div>Location: Bhopal</div>
              <div>Managing Partner</div>
          </div>
          <img class="profile-img" src="/assets/themes/innovis_theme/assets/images/6.kanishka.png" alt="">
          </div>
        <div class="text-center">
          <div>Adv <br /> Aviral Aind</div>
          <img class="arrow-img" src="/assets/themes/innovis_theme/assets/images/arrow.png" alt="">
        </div>
        <div class="profile-overlay position-relative">
          <div class="profile-detail-overlay">
              <div>Adv Ankur Pastor</div>
              <div>10+ years experience</div>
              <div>Location: Bhopal</div>
              <div>Managing Partner</div>
          </div>
          <img class="profile-img" src="/assets/themes/innovis_theme/assets/images/7.khushi.png" alt="">
        </div>
        <div class="text-center">
          <div>Adv <br /> Hemant Bishnoi</div>
          <img class="arrow-img" src="/assets/themes/innovis_theme/assets/images/arrow.png" alt="">
        </div>
        <div class="profile-overlay position-relative">
          <div class="profile-detail-overlay">
            <div>Adv Ankur Pastor</div>
            <div>10+ years experience</div>
            <div>Location: Bhopal</div>
            <div>Managing Partner</div>
          </div>
          <img class="profile-img" src="/assets/themes/innovis_theme/assets/images/8.akshita.png" alt="">
        </div>
      </div>
      <div class="team-rectangle-div d-flex gap-2 justify-content-between align-items-center">
        <div>Associate</div>
        <div>Associate</div>
        <div>Associate</div>
        <div>Associate</div>
        <div>Associate</div>
      </div>
      <div class="profile-div-2 d-flex gap-2 justify-content-between align-items-start position-relative">
        <div class="text-center">
          <img class="arrow-img" src="/assets/themes/innovis_theme/assets/images/arrow.png" alt="">
          <div>Adv <br /> Kanishka Jain</div>
        </div>
        <div class="profile-overlay position-relative">
          <div class="profile-detail-overlay">
            <div>Adv Ankur Pastor</div>
            <div>10+ years experience</div>
            <div>Location: Bhopal</div>
            <div>Managing Partner</div>
          </div>
          <img class="profile-img" src="/assets/themes/innovis_theme/assets/images/9.aviral.png" alt="">
        </div>
        <div class="text-center">
          <img class="arrow-img" src="/assets/themes/innovis_theme/assets/images/arrow.png" alt="">
          <div>Adv <br /> Khushi Palawat</div>
        </div>
        <div class="profile-overlay position-relative">
          <div class="profile-detail-overlay">
            <div>Adv Ankur Pastor</div>
            <div>10+ years experience</div>
            <div>Location: Bhopal</div>
            <div>Managing Partner</div>
          </div>
          <img class="profile-img" src="/assets/themes/innovis_theme/assets/images/10.hemant.png" alt="">
        </div>
        <div class="text-center">
          <img class="arrow-img" src="/assets/themes/innovis_theme/assets/images/arrow.png" alt="">
          <div>Adv <br /> Akshita Singh</div>
        </div>
      </div>
    </div>
  </div>
  <div class="mobile-team-card-container mt-3">
    <div class="d-flex gap-3 align-items-center justify-content-center px-3 w-full">
      <div class="mobile-profile-div text-center">
          <img src="/assets/themes/innovis_theme/assets/images/1.ankur.png" alt="">
          <div class="mobile-profile-name mt-2 mb-1 px-2">Adv Ankur Pastor</div>
          <div class="mobile-profile-post px-2 pb-2">Managing Partner</div>
      </div>
      <div class="mobile-profile-div text-center">
          <img src="/assets/themes/innovis_theme/assets/images/2.surbhi.png" alt="">
          <div class="mobile-profile-name mt-2 mb-1 px-2">Adv Surbhi Dubey</div>
          <div class="mobile-profile-post px-2 pb-2">Partner</div>
      </div>
      <div class="mobile-profile-div text-center">
          <img src="/assets/themes/innovis_theme/assets/images/3.risabh.png" alt="">
          <div class="mobile-profile-name mt-2 mb-1 px-2">Adv Rishabh Mishra</div>
          <div class="mobile-profile-post px-2 pb-2">Partner</div>
      </div>
    </div>
    <div class="text-center mt-4">
        <a href="team.html" class="custom-btn">View More</a>
    </div>
  </div>
</section>
